extends layout

block content
	.row
		h1(style='margin-left:20px;') <img src='/images/logo.png' style='width:40px;height:40px;' />Common Good
	.row
		.col-lg-12
			h3 About Us
			p.
				CommonGood is a website that allows you to purchase great products for Bitcoins while helping charity.
				All products on this site are donated by their creators. They specify a minimum donation, you choose 
				from a list of fantastic charities, and your donation is forwarded on to them. We don't take a cent. 

				Running this website isn't cheap though, so any donations to the address at the bottom are greatly 
				appreciated. However, we refuse to include ourself in the charities, since we don't want to take away 
				a chance for them to gain support, so it's up to you to decide what we get.