extends layout

block content
	h3= name
	h4 Order #{txid}
	if (stat===0)
		p Please send &#579;<code>#{price}</code> or more to <code>#{toaddr}</code>.</br>Be sure to save your order number for your records.</br>Your order will be processed after one confirmation.</br>
		a(href='bitcoin:'+toaddr+'?amount='+price)
			!= qrcodeurl
		button.btn.btn-info(onClick='document.location.reload()') Refresh
	else if (stat===1)
		p Thanks for your payment!
		a(href='/download/'+txid)
			button.btn.btn-info Download
	else
		p Sorry, you've already downloaded this purchase. Please email brandon&#64;common.gd if you have any problems. Be sure to reference your order number.
	hr